* {
    background-color: lightgray;
    color: black;
}

button {
    text-align: center;
    font-family: "Monaco", monospace;
    font-weight: bold;
}

#script-holder {
    width: 100%;
    margin: 0;
}

#hamburger-icon {
    display: none;
}

@media only screen and (max-width: 600px) {
    #hamburger-icon {
        display: block;
    }
}

#phone-menu, #desktop-menu {
    text-align: left;
    font-family: "Monaco", monospace;
    min-width: 200px;
}

@media only screen and (min-width: 600px) {
    #phone-menu {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .phone-element {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #desktop-menu {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #content-holder {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 850px) {
    #content-holder {
        width: 65%;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1050px) {
    #content-holder {
        width: 75%;
    }
}